/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family:'Montserrat', sans-serif;
    overflow-x:hidden;
}

#menu{
    background-color:rgb(245, 244, 244) !important;
} 

.logo{
    width: 200px;
}

.slideimg{
    height: 560px;
}

/* noticias o novedades */
#noticias{
    background-color: rgb(3, 11, 72);
}

#noticias .titulo{
    width: 100%;
    color: #fff;
    text-align: center;
}

.card-title{
    text-align: center;
}

.buy{
    margin-left: 30%;
}

/* servicios */
.services{
    width: 180px;
    height: 160px;
}


